fastapi==0.135.2
uvicorn==0.42.0
pydantic==2.12.5
moviebox-api==0.3.6
pydantic-settings==2.13.1
httpx==0.28.1
python-dotenv==1.2.2
pytest==9.0.2
sqlalchemy[asyncio]==2.0.48
asyncpg==0.31.0
strawberry-graphql[fastapi]==0.312.2
alembic==1.18.4
psycopg2-binary==2.9.11
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
python-multipart==0.0.22
google-auth==2.49.1
google-generativeai==0.8.6
argon2-cffi==25.1.0
certifi==2026.2.25
redis==7.4.0
sentry-sdk==2.22.0
